.nav-list__title {
  color: #F6F6F6;
  font-family: 'Causten', sans-serif;
  font-size: 28.579px;
  font-style: normal;
  font-weight: 700;
  line-height: 216.9%; /* 61.988px */
}

.nav-list__item {
  color: #F6F6F6;
  font-family: 'Causten', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 216.9%; /* 39.042px */
}

.product-card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;

  .product-card__info {
    display: flex;
    justify-content: space-between;

    .product-card__section {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }
  .card-buttons {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    gap: 10px;
  }
}

.checkout-card {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: solid #EDEEF2;;
}

.inList__item {
  width: 100%;
  flex-direction: row;
  padding: 16px;
  border: 1px solid black;
  border-radius: 20px;
}

.inList__info {
  flex-direction: column;
}